@import "tailwindcss";


@font-face {
    /* pass */
    font-family: 'font1';
    src: url('../public/assets/fonts/font1.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* pass */
    font-family: 'font2';
    src: url('../public/assets/fonts/font2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* Pass */
    font-family: 'font3';
    src: url('../public/assets/fonts/font3.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-hover-bg::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(at center, #ff8000, #EA580C, #F5A100, #ff8000);
  border-radius: 9999px;
  filter: blur(64px);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.card-hover-bg:hover::before {
  opacity: 0.2;
  animation: rotateBackground 6s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}